.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.corn{
    position: unset;
}
.card1{
    position: unset;

}

.card1bottom{
    position: absolute;
    bottom: 20px;
}

.bdr {
    position: relative;
  }
  .bdr::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 20px; 
    padding: 2px; 
    background:linear-gradient(160deg,white, transparent); 
    -webkit-mask: 
       linear-gradient(#fff 0 0) content-box, 
       linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude; 
  }

.fadeIn{
    animation: fadeInAnimation ease 10s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
 
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

.mar {
    margin-top: clamp(200px, 25vh, 400px);
}